.App {
    text-align: center;
    display: flex;
}
.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 2em;
    color: #5e5873;
}

.logo img {
    height: 36px;
}
.logo > p {
    font-weight: bold;
    color: #5e5873 !important;
}
ul {
    list-style: none;
    text-align: initial;
    display: none;
    opacity: 0;
    transition: all 2s;
    margin-bottom: 10px;
}
.list-item {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    color: #5e5873;
}
.list-item:hover {
    transform: translateX(10px);
}

.circle {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    border: 1px solid black;
}
.nav-section > p {
    text-align: initial;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #5e5873;
    margin-bottom: 10px;
}
.nav-section > p:hover {
    background: #7367f0;
    cursor: pointer;
    color: white;
}
.arrow {
    width: 20px;
    height: 20px;
    transition: all 0.4s;
}
.arrow-active {
    transform: rotate(90deg);
    transition: all 0.4s;
}
.inactive {
    display: none;
    opacity: 0;
}
.active {
    display: block;
    opacity: 1;
}
.icon {
    height: 20px;
    width: 20px;
}
.nav-section > .section-active {
    background: #7367f0;
    color: white;
}
.list {
    display: flex;
    flex-direction: column;
}
.sub-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.sub-item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    color: #5e5873;
}

.sub-item:hover {
    transform: translateX(5px);
}
.open {
    background: rgba(114, 103, 240, 0.303);
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
    transition: all 0.4s;
}
.list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-right: 10px;
    margin-left: 15px;
}
.list a {
    text-decoration: none;
}
.figma-preview {
    height: 100vh;
    width: 100%;
}
.hide {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.hide:hover {
    fill: #7367f0;
}
.hide-active {
    fill: #7367f0;
}

.navbar {
    display: none;
}
.menu {
    position: relative;
    transition: all 0.6s;
    opacity: 1;
}
.wrapped {
    width: 60px;
}
